*{
    outline: none;
    padding: 0;
    margin: 0;
    text-decoration: none;
    }
@font-face {
    font-family: Lato; 
    src: url(assets/Lato-Regular.ttf);
    font-weight: normal;
   }
main{
    max-width: 1020px;
    /*margin: 0px auto;*/
    font-family: Lato;
}
header{
    display: grid;
    grid-template-columns: 140px auto;
    padding: 29px 40px 30px 41px;
    background-color: #2d303a;
    color: white;
}
ul{
    text-transform: uppercase;
    float: right;
}
.first{
   color: #f06c64;
}
li:first-child:before{
    content: "";
}
ul li{
    display: inline-block;
    margin: 0px 13px;
    font-size: 12px;
    padding-top: 13px;
    position: relative;
}
li:before {
    color: #494e62;
    content: "."; 
    top: 5px;
    left: -15px;
    font-size: 16px;
    position: absolute;
   }
ul li:last-child {
    margin-right: 0px;
   }
ul li a{
    color: white;
}
ul li a:hover{
    color: #f06c64;
    cursor: pointer;
}
.logo span{
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: -1px;
}
.logo span:last-child{
    color: #f06c64;
}
.line-header{
    height: 6px;
    background-color: #323746;
}
.line-slider{
    height: 6px;
    background-color: #ea676b;
}
.slider{
    background-color: #f06c64;
    padding: 53px 40px 61px 40px;
}
.phones{
    display: grid;
    height: 480px;
    grid-template-columns: repeat(12, 1fr);
}
.phones img{
    align-self: center;
}
.phones img:nth-child(1){
    justify-self: start;
}
.phones img:nth-child(1):hover{
    cursor: pointer;
    width: 18px;
}
.phones img:nth-child(4){
    justify-self: end;
}
.phones img:nth-child(4):hover{
    cursor: pointer;
    width: 18px;
}
.phones img:nth-child(2){
    grid-column-start: 2;
    grid-column-end: 5;
}
.phones img:nth-child(3){
    grid-column-start: 6;
    grid-column-end: 12;
}
@media screen and (max-width: 880px) {
    .phones img:nth-child(2), 
    .phones img:nth-child(3){
        width: 100%;
        height: auto;
    }
}